.container{
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.style{
    width: 32%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 1px;
    background: #5c5c5c;
    background-image: -webkit-linear-gradient(top, #5c5c5c, #111212);
    background-image: -moz-linear-gradient(top, #5c5c5c, #111212);
    background-image: -ms-linear-gradient(top, #5c5c5c, #111212);
    background-image: -o-linear-gradient(top, #5c5c5c, #111212);
    background-image: linear-gradient(to bottom, #5c5c5c, #111212);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.blue {
    width: 32%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 1px;
    background: #1b9bff;
    background-image: -webkit-linear-gradient(top, #1b9bff, #111212);
    background-image: -moz-linear-gradient(top, #1b9bff, #111212);
    background-image: -ms-linear-gradient(top, #1b9bff, #111212);
    background-image: -o-linear-gradient(top, #1b9bff, #111212);
    background-image: linear-gradient(to bottom, #1b9bff, #111212);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.red{
    width: 32%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 1px;
    background: #ff5157;
    background-image: -webkit-linear-gradient(top, #ff5157, #111212);
    background-image: -moz-linear-gradient(top, #ff5157, #111212);
    background-image: -ms-linear-gradient(top, #ff5157, #111212);
    background-image: -o-linear-gradient(top, #ff5157, #111212);
    background-image: linear-gradient(to bottom, #ff5157, #111212);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

