.input{
    flex: 1;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    background-color: rgba(200, 200, 200, 0.8);
}
.text {
    font-size: 30px;
    font-weight: bold;
}